@import "tailwindcss";

body {
  background-color: rgba(250, 244, 238, 1);
}

.montserrat-font {
  font-family: 'Montserrat', sans-serif;
}

.serif-font {
  font-family: 'Source Serif 4', serif;
  font-size: 60px;
}

@theme {
  --color-color-text: #281753;
}